/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* Formulario */

form {
  background: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  background: #5995ED;
  border: none;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}

button:hover {
  background: #467ecf;
  cursor: pointer;
}