{% extends 'base.html' %}

{% block title %}Subir Factura{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0">Subir Factura Ebsa</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
                    <div class="form-group">
                        <label for="file" class="font-weight-bold">Seleccionar archivo PDF:</label>
                        <input type="file" class="form-control-file border" id="file" name="file" accept=".pdf" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Subir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
