<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="menubar">
    <div class="auth-buttons">

        <form id="loginForm">
            <input type="text" name="username"/>
            <input type="password" name="password"/>
            <button type="submit">Iniciar Sesión</button>
        </form>

        <a href="{{ url_for('signup') }}" class="signup-btn">Registrarse</a>


    </div>


</div>
<div class="container">

    <h1>Subir Archivo PDF</h1>


    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="file-input">
            <input type="file" name="file" id="file" accept=".pdf">
            <label for="file">Seleccionar Archivo</label>
        </div>

        <button class="submit-btn" type="submit">Subir</button>
    </form>
</div>
</body>
</html>

