<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="/static/stylesSignup.css">
</head>
<body>
<form id="signupForm">
    <input type="text" name="username" placeholder="Nombre usuario"/>
    <input type="email" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Contraseña"/>

    <button type="submit">Crear Cuenta</button>

        registro mediante google
    <button id="google-login">Registrarse con Google</button>
</form>
</body>
</html>