{% extends 'base.html' %}

{% block title %}Información de la Factura{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Información de la Factura</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped custom-table">
                    <tbody>
                        <tr class="custom-table-row">
                            <th>Cliente</th>
                            <td>{{ cliente }}</td>
                        </tr>
                        <tr class="custom-table-row">
                            <th>NIT/CC</th>
                            <td>{{ nit_cc }}</td>
                        </tr>
                        <tr class="custom-table-row">
                            <th>Dirección</th>
                            <td>{{ direccion }}</td>
                        </tr>
                        <tr class="custom-table-row">
                            <th>Ciudad</th>
                            <td>{{ ciudad }}</td>
                        </tr>
                        <tr class="custom-table-row">
                            <th>Consumo (kWh)</th>
                            <td>{{ consumo }}</td>
                        </tr>
                        <tr class="custom-table-row">
                            <th>Valor Total</th>
                            <td>
                                {% if valor_total %}
                                ${{ "{:.2f}".format(valor_total|float) }}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="custom-table-row">
                            <th>Fecha de Corte</th>
                            <td>{{ fecha_corte }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
