{% extends 'base.html' %}

{% block title %}Información de la Factura{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <img src="{{ url_for('static', filename='ebsa.png') }}" alt="Logo EBSA" class="mr-2"
                     style="height: 30px;">
                <h3 class="mb-0">Información de la Factura</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th class="text-primary">Cliente</th>
                        <td>{{ cliente }}</td>
                    </tr>
                    <tr>
                        <th class="text-primary">NIT/CC</th>
                        <td>{{ nit_cc }}</td>
                    </tr>
                    <tr>
                        <th class="text-primary">Dirección</th>
                        <td>{{ direccion }}</td>
                    </tr>
                    <tr>
                        <th class="text-primary">Ciudad</th>
                        <td>{{ ciudad }}</td>
                    </tr>
                    <tr>
                        <th class="text-primary">Consumo (kWh)</th>
                        <td>{{ consumo }}</td>
                    </tr>
                    <tr>
                        <th class="text-primary">Valor Total</th>

                        <td>
                            {% if valor_total %}
                            ${{ valor_total }}
                            {% else %}
                            N/A
                            {% endif %}

                            <!--{% if valor_total %}
                            ${{ "{:.2f}".format(valor_total|float) }}
                            {% else %}
                            N/A
                            {% endif %}-->
                        </td>
                    </tr>
                    <tr>
                        <th class="text-primary">Fecha de Corte</th>
                        <td>{{ fecha_corte }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
